#boards {
    background-color: green;
}

.container{
    width: 25%;
    float: left;
    background-color: #70796a;
    margin: 10px;

}

div{
    margin: 0 10px 10px 10px;
    padding: 10px;

}

.boards{
    background-color: gray;
    display: flex;
    border-radius: 0 0px 4px 4px;
}

.board_title{
    background-color: coral;
    margin: 10px 10px 0 10px;
    border-radius: 4px 4px 0 0px;
}